.hamburger
    a.hamburger__link
        span.hamburger__link_item
.hamburger-menu
    nav.hamburger-menu__nav
        ul.hamburger-menu__list
            li.hamburger-menu__item
                a.hamburger-menu__link(href="#about") О себе
            li.hamburger-menu__item
                a.hamburger-menu__link(href="#form") Форма
            li.hamburger-menu__item
                a.hamburger-menu__link(href="#tooltip") Всплывающая подсказка
            li.hamburger-menu__item
                a.hamburger-menu__link(href="#load") Индикатор Загрузки
            li.hamburger-menu__item
                a.hamburger-menu__link(href="#wishlist") Вишлист